* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato',sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);
}

.header-box {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-text {
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    color: #222222;
    margin-left: 10px;
}

.logo-text-d {
    font-weight: 900;
    color: #f16d7f;
    font-size: 27px;
}
.header-form {
    width: 317px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 0px 3px 3px 0px;
    display: flex;
    margin-left: 41px;
}

.button-browse {
    width: 120px;
    height: 38px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    color: #222222;
}

.input-form {
    width: 380px;
    border: 1px solid #e6e6e6;
    padding: 10px;
}

.search-heading {
    padding-bottom: 5px;
    width: 80px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-header {
    background-color: #f16d7f;
    padding: 12px 19px;
    border: 1px solid transparent;
    margin-left: 30px;
}

.my-account {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu-link {
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    font-size: 14px;
    font-weight: 650;
    text-transform: uppercase;
    color: #222222;
}

.banner {
    height: 613px;
    background-color: #e8e8e8;
}

.banner-top {
    height: 100%;
    background: url(img/banner1.png) -200px -51px;
}

.banner-text-box {
    padding-top: 150px;
}

.banner-text {
    text-transform: uppercase;
    color: #222;
    border-left: 12px solid #f16d7f;
    padding-left: 15px;
}

.banner-title-strong {
    font-size: 60px;
    color: #222222;
}

.banner-title-span {
    font-size: 40px;
}

.brand-title-span-color {
    font-size: 40px;
    color: #f16d7f;
}

.special {
    display: flex;
    padding-top: 64px;
    padding-bottom: 96px;
    flex-direction: column;
    justify-content: center;
}

.special-left {
    display: flex;
    flex-direction: column;
    float: left;
}

.special-left-top {
    background-image: url(img/special-left-top.png);
    background-repeat: no-repeat;
    width: 560px;
    height: 542px;
    margin-bottom: 25px;
}

.special-left-bottom {
    background-image: url(img/special-left-bottom.png);
    width: 560px;
    height: 261px;
}

.special-right {
    float: right;
}
.special-right-top {
    background-image: url(img/special-right-top.png);
    width: 560px;
    height: 261px;
    margin-bottom: 25px;
}

.special-right-bottom {
    background-image: url(img/special-right-bottom.png);
    width: 560px;
    height: 542px;
}

.special-title {
    width: 175px;
    height: 82px;
    background-color: #fff;
    position: absolute;
    margin-bottom: 200px;
}

.special-heading {
    position: absolute;
    font-size: 30px;
    color: #f16d7f;
}

.fetured_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fetured-heading {
    font-size: 30px;
    font-weight: 700;
    color: #222222;
    text-align: center;
}

.fetured-text {
    font-size: 14px;
    line-height: 54px;
    color: #9f9f9f;
    text-align: center;
}

.fetured-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fetured-list-box {
    padding-bottom: 50px;
}

.img-product {
    width: 261px;
    height: 280px;
}

.box-content {
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.box-price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    padding-left: 20px;
    padding-right: 20px;
}

.products-button {
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    border: none;
}

.offer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.offer-box {
    display: flex;
    justify-content: space-between;
}
.offer-banner {
    background-image: url(img/offer-image.png);
    background-repeat: no-repeat;
    width: 767px;
    height: 529px;
}

.offer-banner-title {
    margin-top: 180px;
    margin-left: 60px;
    font-size: 53.7px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.offer-banner-color {
    color: #f16d7f;
}

.offer-banner-text {
    display: block;
    font-size: 32px;
    font-weight: 600;
}

.offer-list {
    padding: 60px 68px 70px 50px;
    list-style-type: none;
    background-color: #222224;
    width: 350px;
}

.offer-list-item {
    display: flex;
    margin-bottom: 40px;
}

.offer-list-icon {
    width: 150px;
    height: 90px;
    margin-right: 50px;
    background: url(img/offer-icon1.svg) no-repeat;
}

.offer-list_title {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.offer-list_text {
    font-size: 14px;
    font-weight: 300;
    color: #fbfbfb;
}

.slider {
    background-image: url(img/slider-fon.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    height: 448px;
}

.slider-box {
    padding-top: 150px;
    display: flex;
}

.slider-left {
    display: flex;
    justify-content: start;
    width: 700px;
}

.slider-feedback {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    color: #222224;
    box-sizing: border-box;
    width: 426px;
}

.slider-person-name {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #f16d7f;
}

.slider-person-location {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;
}

.slider-right {
    text-align: center;
}

.slider-right-heading {
    font-size: 24px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222224;
}

.slider-right-text {
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
}

.form-subcribe {
    display: flex;
    justify-content: space-around;
}

.form-subscribe__input {
    box-sizing: border-box;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 334px;
    background-color: #e1e1e1;
    padding: 20px 30px;
}

.form-subscribe__button {
    width: 166px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #f16d7f;
    color: #fff;
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 400;
}

.information {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.information-box {
    display: flex;
    justify-content: space-between;
}

.info-about-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #898989;
    width: 430px;
    margin-top: 20px;
}

.info-nav__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #f16d7f;
    margin-top: 20px;
    margin-bottom: 5px;
}

.info-list__link {
    text-decoration: none;
    color: #898989;
}

.info-list__item {
    margin-bottom: 20px;
    list-style: none;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e6e6e6;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 16px;
    line-height: 42px;
    color: #7a7a7a;
}

.socials-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.socials-list__link {
    display: block;
    width: 50px;
    height: 32px;
    text-align: center;
    background-color: #fff;
    padding-top: 20px;
}
